<div class="footer">
  <h3>
    Download our free mobile app
  </h3>
  <div class="footer-download">
    <img src="../../assets/img/download.png" alt="Download from AppStore">
    <img src="../../assets/img/downloadG.png" alt="Download from Google Play Store">
  </div>
  <hr>
  <div class="footer-info">
    <img src="../../assets/img/intuitlogo.png" alt="Intuit Logo">
    <br>
    <div class="icons-row">
        <img src="../../assets/img/facebook.png" alt="Facebook">&nbsp;&nbsp;
        <img src="../../assets/img/twitter.png" alt="Twitter">&nbsp;&nbsp;
        <img src="../../assets/img/instagram-new.png" alt="Instagram">&nbsp;&nbsp;
        <img src="../../assets/img/rss.png" alt="RSS">&nbsp;&nbsp;
        <span>Media Inquiries</span>
    </div>
    <div class="small-text">
      <span>HOW IT WORKS</span>
      <span>FIND SAVINGS</span>
      <span>CREDIT SCORE</span>
      <span>SUPPORT</span>
      <span>BLOG</span>
      <span>PARTNERS</span>
    </div>
    <div class="small-text">
      <span>Security</span>
      <span>Terms of Use</span>
      <span>Privacy</span>
      <span>Legal &amp; Trademark</span>
      <span>Notices</span>
      <span>About Intuit</span>
    </div>
    <div class="small-text">
      <span>Bill Tracking</span>
      <span>Money Manager</span>
      <span> Sitemap</span>
    </div>
  </div>
  <p>© 2018 Intuit, Inc. All rights reserved.</p>
  <p>Terms, conditions, features, availability, pricing, fees, service and support options subject to change without notice.</p>
</div>