<div class="footer">
  <h3>
    Download our free mobile app
  </h3>
  <div class="footer-download">
    <img src="../../assets/img/download.png" alt="Download from AppStore">
    <img src="../../assets/img/downloadG.png" alt="Download from Google Play Store">
  </div>
  <hr>
  <div class="footer-info">
    <img src="../../assets/img/intuitlogo.png" alt="Intuit Logo">
    <br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-1">
        <img src="../../assets/img/facebook.png" alt="Facebook">
      </div>
      <div class="col-md-1">
        <img src="../../assets/img/twitter.png" alt="Twitter">
      </div>
      <div class="col-md-1">
        <img src="../../assets/img/instagram-new.png" alt="Instagram">
      </div>
      <div class="col-md-1">
        <img src="../../assets/img/rss.png" alt="RSS">
      </div>
      <div class="col-md-2">Media Inquiries</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row small-text">
     
      <div class="col-md-2">HOW IT WORKS</div>
      <div class="col-md-2 ">FIND SAVINGS</div>
      <div class="col-md-2">CREDIT SCORE</div>
      <div class="col-md-2">SUPPORT</div>
      <div class="col-md-2">BLOG</div>
      <div class="col-md-2">PARTNERS</div>
      
    </div>
    <div class="row small-text">
      <div class="col">Security</div>
      <div class="col">Terms of Use</div>
      <div class="col">Privacy</div>
      <div class="col">Legal &amp; Trademark</div>
      <div class="col">Notices</div>
      <div class="col">About Intuit</div>
    </div>
    <div class="row small-text">
      <div class="col">Bill Tracking</div>
      <div class="col">Money Manager</div>
      <div class="col"> Sitemap</div>
    </div>
  </div>
  <p>© 2018 Intuit, Inc. All rights reserved.</p>
  <p>Terms, conditions, features, availability, pricing, fees, service and support options subject to change without notice.</p>
</div>