<div class="wrapper">
  <div class="row">
    <div class="col-md-2">
      <img id="main-img" width="300" alt="Angular Logo" src="../assets/img/dark-logo.png">
    </div>
    <div class="col-md-8">
      <nav class="topnav" routerLinkActive="active">
        <a *ngFor="let section of sections" class="nav-link" href="{{section.route}}">{{section.title | uppercase}}</a>
      </nav>
    </div>
    <div class="col-md-2">
      <a>{{userName}}</a>
      <button class="btn btn-info" (click)="logout()">Log out</button>
    </div>
  </div>

</div>