
.topnav {
    overflow: hidden;
    padding-left: 24%;
    padding-right: 20%;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.col-md-2 a {
    color: white;
}
.topnav a:hover {
    background-color: transparent
}

#main-img {
    width: 80%;
    margin-left: 2em;
}

.row {
    padding-top: 1em;
}

.wrapper{
    background-color:#333;
    
}
