<div class="wrapper">
  <div class="row">
    <div class="col-md-2">
      <img width="300" alt="Angular Logo" src="../assets/img/mint_2018_logo.png">
    </div>
    <div class="col-md-8">
      <nav class="topnav" routerLinkActive="active">
        <a class="nav-link" routerLink="howItWors">HOW IT WORKS</a>
        <a class="nav-link" routerLink="findSavings">FIND SAVINGS</a>
        <a class="nav-link" routerLink="support">SUPPORT</a>
        <a class="nav-link" routerLink="blog">BLOG</a>
      </nav>
    </div>
    <div class="col-md-2">
      <button class="btn btn-warning" id="logIn">Log In</button>
      <button class="btn btn-info" id="signUp">Sign Up</button>
    </div>
  </div>
  <div>
    <p>Something goes here</p>
  </div>
</div>