
.topnav {
    overflow: hidden;
    padding-left: 24%;
    padding-right: 20%;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: transparent
}

.main-img {
    width: 70%;
    margin-left: 2em;
}

.wrapper {
    margin-top: 0;
    height: 70vh;
    background-image: url('../../assets/img/landing-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    padding-top: 1em;
}

.main-text-box {
    text-align: center;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh;
   
    padding: 1em;
    background-color: rgba(47, 143, 130, 0.8);
  }

.main-text-box h3, p {
    color: white;
}

.bottom p
{
    color: black;
}

.bottom {
    text-align: center;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 5em;
  }

.logo {
    size: 30%;
}