<div class="row bottom">
    <div class="col-md-4">
      <h4>Budgets? You betcha</h4>
      <p>
        Easily create budgets, and see our suggestions based on your spending.</p>
        <img class="logo"alt="Budget Logo" src="../assets/img/budgets-small_2_0.png">
    </div>
    <div class="col-md-4">
        <h4> Bills? Done</h4>
        <p>
            Track your bills like never before. Get alerts when it's time to pay so you never miss one.</p>
            <img class="logo"alt="Bills Logo" src="../assets/img/bills_calender_icon_2.png">
    </div>
    <div class="col-md-4">
        <h4>Credit score? Checked</h4>
        <p>
            Find out yours for free and get tips to help improve it, no credit card required.</p>
            <img class="logo"alt="Credit Score Logo" src="../assets/img/icon-credit-checked-5_3_0.png">
    </div>
  </div>