<div class="row">
  <div class="col-md-4">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">ACCOUNTS</div>
      <div class="card-body text-secondary">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Cash</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Credit Cards</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Loans</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Investments</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Properties</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">TRENDS</div>
      <div class="card-body text-secondary">
        <p>GRAPH 1</p>
        <p>GRAPH 2</p>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">FEEDBACK</div>
      <div class="card-body text-secondary">
        <p>Tell us what you love and what you need. We promise we'll do our best to address your feedback.</p>
        <button class="btn btn-light">GIVE FEEDBACK</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">BILLS</div>
          <div class="card-body text-secondary">
            <p>Tell us what you love and what you need. We promise we'll do our best to address your feedback.</p>
            <button class="btn btn-light">GIVE FEEDBACK</button>
          </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">SUGESSTED OFFERS</div>
            <div class="card-body text-secondary">
              <p>Tell us what you love and what you need. We promise we'll do our best to address your feedback.</p>
              <button class="btn btn-light">GIVE FEEDBACK</button>
            </div>
          </div>
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">SPENDINGS</div>
              <div class="card-body text-secondary">
                <p>Tell us what you love and what you need. We promise we'll do our best to address your feedback.</p>
                <button class="btn btn-light">GIVE FEEDBACK</button>
              </div>
            </div>
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">YOUR FREE CREDIT SCORE FOR {{currentFocus.date}}/{{currentFocus.year}}</div>
                <div class="card-body text-secondary">
                  <p>Tell us what you love and what you need. We promise we'll do our best to address your feedback.</p>
                  <button class="btn btn-light">GIVE FEEDBACK</button>
                </div>
              </div>
              <div class="card border-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">{{currentFocus.month}}/{{currentFocus.year}} BUDGETS</div>
                  <div class="card-body text-secondary">
                    <p>Tell us what you love and what you need. We promise we'll do our best to address your feedback.</p>
                    <button class="btn btn-light">GIVE FEEDBACK</button>
                  </div>
                </div>
  </div>
</div>