img {
   height: 3vh;
   display: block;
   margin: auto;
}

.card {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.icons img{
    margin-right: 0;
}
.icons {
    padding-right: 0;
}

.col {
    padding-left: 0;
}

.iconsLeft{
    padding-left: 0;
}

.iconsLeft img {
    margin-left: 0;
}

.graph{
    height: 60vh;
}