<div class="row">
  <div class="col-md-4">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header row">
        <div class="col"><h6>ACCOUNTS </h6></div>
        <div class="col icons"><img src="../../assets/img/settings.png"></div>
      </div>
      <div class="card-body text-secondary">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Cash</div>
          <div class="card-body">{{newAccount.cash}}
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Credit Cards</div>
          <div class="card-body"> ${{newAccount.cc}}
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Loans</div>
          <div class="card-body"> ${{newAccount.loans}}
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Investments</div>
          <div class="card-body"> ${{newAccount.investments}}
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Properties</div>
          <div class="card-body"> ${{newAccount.property}}
          </div>
        </div>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><h6>TRENDS</h6></div>
      <div class="card-body text-secondary">
        <p>GRAPH 1</p>
        <p>GRAPH 2</p>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><h6>FEEDBACK</h6></div>
      <div class="card-body text-secondary">
        <p>Tell us what you love and what you need. We promise we'll do our best to address your feedback.</p>
        <button class="btn btn-light">GIVE FEEDBACK</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card border-secondary mb-3">
          <div class="card-header"><h6>BILLS</h6></div>
          <div class="card-body text-secondary">
           <p>Hooray!</p><br>
              <p>You have no bills due.</p>
              <button class="btn btn-info">SEE YOUR BILLS</button>
          </div>
        </div>
        <div class="card border-secondary mb-3">
            <div class="card-header"><h6>SUGGESTED OFFERS</h6></div>
            <div class="card-body text-secondary">
              
            </div>
          </div>
          <div class="card border-secondary mb-3">
              <div class="card-header"><h6>SPENDINGS</h6></div>
              <div class="card-body text-secondary">
               <img alt="spending trend" src="../assets/img/spending.png">
              </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header"><h6>YOUR FREE CREDIT SCORE FOR {{month}}/{{year}}</h6></div>
                <div class="card-body text-secondary">
                
                </div>
              </div>
              <div class="card border-secondary mb-3">
                  <div class="card-header"><h6>{{month}}/{{year}} BUDGETS</h6></div>
                  <div class="card-body text-secondary">
                   
                  </div>
                </div>
  </div>
</div>