.panel
{
   margin-top: 3em;
   margin-bottom: 3em;
   height: 60vh;
   background-color: rgb(204, 165, 172);
}

#panel{
    height: 80%;
    margin-bottom: 0;
    margin-top: 5.75em;
}

.text {
    margin:auto;
}

.picture {
    margin-right: auto;
}